Repository alvincrespo/glypto-go, changes with the labels that .github/labeler.yml gives for each.
All labels: code, tests, documentation, ci, config, dependencies, providers, cli, core

docs(claude): expand documentation with detailed workflows and guidance
  CLAUDE.md
Labels: documentation

docs(claude): expand documentation with detailed workflows and guidance (#9)
  CLAUDE.md
Labels: documentation

build(go): upgrade Go version to 1.25.3
  go.mod
Labels: ci, config, dependencies

ci(workflows): update Go version to 1.25.3
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/release.yml
Labels: ci

ci(lint): update golangci-lint to v1.65.0 for Go 1.25 compatibility
  .github/workflows/ci.yml
Labels: ci

ci(lint): update golangci-lint-action to v8 for better cache handling
  .github/workflows/ci.yml
Labels: ci

build(go): upgrade Go version to 1.25.3 (#10)
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/release.yml
  go.mod
Labels: ci, config, dependencies

fix(security): Bump Go toolchain from 1.25.3 to 1.25.7
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/release.yml
  go.mod
Labels: ci, config, dependencies

fix(security): Bump Go from 1.25.7 to 1.25.9 for additional CVEs
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/release.yml
  go.mod
Labels: ci, config, dependencies

refactor(ci): Source Go version from go.mod via go-version-file
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/release.yml
Labels: ci

fix(security): Bump Go toolchain to 1.25.9 to clear govulncheck (#22)
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/release.yml
  go.mod
Labels: ci, config, dependencies

docs: Fix stale Go version and broken provider-name examples
  CLAUDE.md
  README.md
Labels: documentation

Sync go version for CLAUDE.md
  CLAUDE.md
Labels: documentation

Sync go version shield.
  README.md
Labels: documentation

docs: Fix stale Go version and broken provider-name examples (#24)
  CLAUDE.md
  README.md
Labels: documentation

fix(security): Bump Go to 1.25.12 to clear GO-2026-5856
  CLAUDE.md
  README.md
  go.mod
Labels: documentation, ci, config, dependencies

fix(security): Bump Go to 1.25.12 to clear GO-2026-5856 (#32)
  CLAUDE.md
  README.md
  go.mod
Labels: documentation, ci, config, dependencies

release: Prepare v0.2.0
  pkg/cli/root.go
  pkg/cli/root_test.go
Labels: code, tests, cli

release: Prepare v0.2.0 (#33)
  pkg/cli/root.go
  pkg/cli/root_test.go
Labels: code, tests, cli

.github/labeler.yml:

# Configuration for automatic labeling of pull requests

# Source code changes
"code":
  - changed-files:
    - any-glob-to-any-file: "pkg/**/*.go"

# Test changes
"tests":
  - changed-files:
    - any-glob-to-any-file: ["**/*_test.go", "test/**/*.go"]

# Documentation changes  
"documentation":
  - changed-files:
    - any-glob-to-any-file: ["README.md", "docs/**/*", "*.md", "CLAUDE.md"]

# CI/CD changes
"ci":
  - changed-files:
    - any-glob-to-any-file: [".github/**/*", "go.mod", "go.sum"]

# Configuration changes
"config":
  - changed-files:
    - any-glob-to-any-file: ["go.mod", "go.sum", ".gitignore", ".golangci.yml"]

# Dependencies
"dependencies":
  - changed-files:
    - any-glob-to-any-file: ["go.mod", "go.sum"]

# Provider related changes
"providers":
  - changed-files:
    - any-glob-to-any-file: ["pkg/providers/**/*", "**/*provider*_test.go"]

# CLI related changes
"cli":
  - changed-files:
    - any-glob-to-any-file: ["cmd/**/*.go", "pkg/cli/**/*.go"]

# Core library changes
"core":
  - changed-files:
    - any-glob-to-any-file: ["pkg/metadata/**/*", "pkg/scraper/**/*"]
